Con los conteos realizados se filtran los coun>0

se crea un scrip con los para neo4j con los genes/TF

In [86]:
import pandas as pd
import io

E34=pd.read_csv("abundance.tsv",delimiter="\t")

In [87]:
E34.head()

           target_id  length  eff_length  est_counts  tpm
0  ENST00000632684.1      12     2.60424         0.0  0.0
1  ENST00000434970.2       9     2.52391         0.0  0.0
2  ENST00000448914.1      13     2.62202         0.0  0.0
3  ENST00000415118.1       8     2.48058         0.0  0.0
4  ENST00000631435.1      12     2.60424         0.0  0.0

In [88]:
E34_0=E34[E34["est_counts"]>10]
ENST=E34_0["target_id"]
E34_0.head()

             target_id  length  eff_length  est_counts        tpm
252  ENST00000641710.1     606       407.0     14.1319    5.42888
334  ENST00000613512.4    1451      1252.0     10.4212    1.30142
354  ENST00000419783.2    1151       952.0   1045.3600  171.68500
355  ENST00000419349.2    1135       936.0     30.4232    5.08197
356  ENST00000643797.1     708       509.0    119.2120   36.61880

In [89]:
#type(E34_0)
type(ENST)

pandas.core.series.Series

In [90]:
ENST.head()

252    ENST00000641710.1
334    ENST00000613512.4
354    ENST00000419783.2
355    ENST00000419349.2
356    ENST00000643797.1
Name: target_id, dtype: object

In [91]:
#ENST.reset_index(drop=True,inplace=True)
ENST_adj=[]
for i in range(0,len(ENST)):
    s=ENST.iloc[i]
    ENST_adj.append(s[:-2])
ENST_adj[0:5]

['ENST00000641710',
 'ENST00000613512',
 'ENST00000419783',
 'ENST00000419349',
 'ENST00000643797']

In [70]:
genes=pd.DataFrame(ENST_adj,columns=["target_id"])
genes# es un dataframe

             target_id
0      ENST00000641710
1      ENST00000613512
2      ENST00000419783
3      ENST00000419349
4      ENST00000643797
...                ...
33378  ENST00000631786
33379  ENST00000583145
33380  ENST00000566127
33381  ENST00000574122
33382  ENST00000383620

[33383 rows x 1 columns]

In [1]:
simbols=pd.read_csv("t2g2s 4-10-21.txt",index_col=None,delimiter="\t")

simbols.head()

NameError: name 'pd' is not defined

In [72]:
s_id=simbols.rename(columns={'ensembl_transcript_id':'target_id'})
s_id.head()
s=s_id[['target_id',"external_gene_name"]]
s# es un dataframe

              target_id external_gene_name
0       ENST00000387314              MT-TF
1       ENST00000389680            MT-RNR1
2       ENST00000387342              MT-TV
3       ENST00000387347            MT-RNR2
4       ENST00000386347             MT-TL1
...                 ...                ...
256178  ENST00000355360              PGBD2
256179  ENST00000329291              PGBD2
256180  ENST00000462488              PGBD2
256181  ENST00000363625         RNU6-1205P
256182  ENST00000430973          RPL23AP25

[256183 rows x 2 columns]

In [73]:
#simbols.groupby("external_gene_name").nunique()

In [93]:
genes_merge=pd.merge(genes,s, on="target_id")
genes_merge.head()

TypeError: Can only merge Series or DataFrame objects, a <class 'str'> was passed

In [94]:
genes_merge.isnull().sum(axis=0)

target_id             0
external_gene_name    0
dtype: int64

In [95]:
gene_contxt=genes_merge.groupby("external_gene_name").nunique()
gene_contxt

                    target_id
external_gene_name
A1BG                        2
A2M                         1
A4GALT                      3
AAAS                        2
AACS                        1
...                       ...
ZXDC                        3
ZYG11B                      1
ZYX                         6
ZZEF1                       1
ZZZ3                        3

[12617 rows x 1 columns]

In [76]:
do=pd.read_csv("dorothea_final.csv",index_col=None,delimiter="\t",names=["TF","target"])
ldo=list(do.to_records(index=False))
ldo[0:5]

[('ADNP', 'ATF7IP'),
 ('ADNP', 'DYRK1A'),
 ('ADNP', 'TLK1'),
 ('ADNP', 'ZMYM4'),
 ('ADNP', 'ABCC1')]

buscamos cuantos de los genes son fatores de transcripcion segun el simbol

In [78]:
#HACER UN DICCIONARIO
TFs=[]
for tf,target in ldo:
    if tf not in TFs:
        TFs.append(tf)
print(len(TFs))#TFs lista de factores de transcripcion en dorothea
#TFs

1395

In [79]:
#type(TFs)#[-10:]
genes_contx=list(genes_merge["external_gene_name"].unique())
print(len(genes_contx))
genes_contx[0:5]
type(genes_contx)

12617

list

In [80]:
#genes_contx=sorted(genes_contx)
genes_contx[1050:1060],TFs[0:10]

(['MEPCE',
  'ARHGAP27',
  'ENTPD6',
  'SMURF1',
  'NARS1',
  'WDFY4',
  'TMEM168',
  'TRIM26',
  'TOM1L2',
  'EIF1'],
 ['ADNP',
  'ADNP2',
  'AEBP2',
  'AHR',
  'AHRR',
  'AIRE',
  'ALX1',
  'ALX3',
  'ALX4',
  'AR'])

In [81]:
TF_contx=[]
for tf in TFs:
    if tf in genes_contx:
        TF_contx.append(tf)

In [82]:
len(TFs)

1395

In [83]:
print(len(TF_contx))
print(type(TF_contx))
TF_contx[0:5]

930
<class 'list'>

['ADNP', 'ADNP2', 'AEBP2', 'AHR', 'AHRR']

In [84]:
#subset de dototea con los TF encontrados en el experimento
do_contx=do[do["TF"].isin(TF_contx)]
print(len(do_contx),   len(do)),type(do_contx)

331295 486751

(None, pandas.core.frame.DataFrame)

In [85]:
creaccion de script para contextualizacion de red

SyntaxError: invalid syntax (<ipython-input-85-f561204ecb71>, line 1)

In [62]:
genes_contxDF=pd.DataFrame(genes_contx,columns=["genes"])# contextualizados ~19.000 genes (pueden o no ser TF filtro >0)
genes_contxDF.to_csv(r"C:\Users\espin\OneDrive\Escritorio\MCI\SCRIPTS\genes_contx.csv",index=False)

In [51]:
# cargar un csv con los TF contextualizados para el experimento
TFsDF=pd.DataFrame(TFs,columns=["TF"])# 1395 TF de dorothea
TFsDF.to_csv(r"C:\Users\espin\OneDrive\Escritorio\MCI\SCRIPTS\TFs.csv",index=False)

In [61]:
do_contx.to_csv(r"C:\Users\espin\OneDrive\Escritorio\MCI\SCRIPTS\do_contx.csv",index=False)
g

In [26]:
#genes2=list(TF_T_contx.to_records(index=False))

In [27]:
#crear texto para las relaciones entre nodos

#contx_script=open('contx_script.txt', 'w')
#for start, end in genes2:   
#   contx_script.write("merge (ori:GENE:TF{name:'"+start+"'})\n"+"merge(t:GENE{name:'"+end+"'})\n"+"CREATE(ori)-[:REGULATES]->(t);\n")
#contx_script.close()