In [2]:
import pandas as pd

In [7]:
Nc=pd.read_csv("CovidNcounts.csv",index_col=None)

Nc.head()

           target_id  healthy  Infected
0  ENST00000632684.1      0.0       0.0
1  ENST00000434970.2      0.0       0.0
2  ENST00000448914.1      0.0       0.0
3  ENST00000415118.1      0.0       0.0
4  ENST00000631435.1      0.0       0.0

In [8]:
sy=pd.read_csv("t2g2s 4-10-21.txt",index_col=None,delimiter="\t")
sy.head()

  ensembl_transcript_id  ensembl_gene_id external_gene_name
0       ENST00000387314  ENSG00000210049              MT-TF
1       ENST00000389680  ENSG00000211459            MT-RNR1
2       ENST00000387342  ENSG00000210077              MT-TV
3       ENST00000387347  ENSG00000210082            MT-RNR2
4       ENST00000386347  ENSG00000209082             MT-TL1

In [4]:
s_id=sy.rename(columns={'ensembl_transcript_id':'target_id'})
#s_id.head()
s=s_id[['target_id',"external_gene_name"]]
s# es un dataframe

              target_id external_gene_name
0       ENST00000387314              MT-TF
1       ENST00000389680            MT-RNR1
2       ENST00000387342              MT-TV
3       ENST00000387347            MT-RNR2
4       ENST00000386347             MT-TL1
...                 ...                ...
256178  ENST00000355360              PGBD2
256179  ENST00000329291              PGBD2
256180  ENST00000462488              PGBD2
256181  ENST00000363625         RNU6-1205P
256182  ENST00000430973          RPL23AP25

[256183 rows x 2 columns]

In [10]:
#simbols.groupby("external_gene_name").nunique()

In [9]:
s=pd.DataFrame(sy)
Nc=pd.DataFrame(Nc)

In [10]:
s.head()

  ensembl_transcript_id  ensembl_gene_id external_gene_name
0       ENST00000387314  ENSG00000210049              MT-TF
1       ENST00000389680  ENSG00000211459            MT-RNR1
2       ENST00000387342  ENSG00000210077              MT-TV
3       ENST00000387347  ENSG00000210082            MT-RNR2
4       ENST00000386347  ENSG00000209082             MT-TL1

In [11]:
Nc.head()

           target_id  healthy  Infected
0  ENST00000632684.1      0.0       0.0
1  ENST00000434970.2      0.0       0.0
2  ENST00000448914.1      0.0       0.0
3  ENST00000415118.1      0.0       0.0
4  ENST00000631435.1      0.0       0.0

In [29]:
ENST2SY=[]

In [13]:
Nc_0=Nc[(Nc["healthy"]>0) | (Nc["Infected"]>0)]

In [30]:
lista=list(s["ensembl_transcript_id"])
for i in range(0,len(Nc_0["target_id"])):
    enst=Nc_0.iloc[i]["target_id"][0:15]
    if enst in lista:
        l=lista.index(enst)
    #print(l)
        r=s.iloc[l]["external_gene_name"]
        ENST2SY.append(r)
    #print(r)
    else:
        ENST2SY.append("NaN")
    #se demora como unos 7-8 min

In [31]:
ENST2SY[0:10]

['TRBV23-1',
 'TRBV12-5',
 'TRAV41',
 'TRAV2',
 'TRAV36DV7',
 'TRAV14DV4',
 'TRAV13-1',
 'TRAV8-3',
 'TRBV30',
 'TRBV20-1']

In [32]:
Nc_0.head()

            target_id   healthy  Infected
69  ENST00000390396.1  0.143410       0.0
71  ENST00000621184.1  0.332705       0.0
74  ENST00000390468.1  0.286819       0.0
75  ENST00000390424.2  0.188333       0.0
76  ENST00000390463.3  0.196011       0.0

In [33]:
ENST2SY.count("NaN")
len(ENST2SY)

93884

In [34]:
Nc_0["Syb"]=ENST2SY

<ipython-input-34-19cb5172c705>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Nc_0["Syb"]=ENST2SY

In [35]:
Nc_0.head()

            target_id   healthy  Infected        Syb
69  ENST00000390396.1  0.143410       0.0   TRBV23-1
71  ENST00000621184.1  0.332705       0.0   TRBV12-5
74  ENST00000390468.1  0.286819       0.0     TRAV41
75  ENST00000390424.2  0.188333       0.0      TRAV2
76  ENST00000390463.3  0.196011       0.0  TRAV36DV7

In [36]:
Nc_0.to_csv("Ncounts2Syb.csv",index=False)

In [40]:
Nc_0[Nc_0["Syb"]=="NaN"]

                target_id    healthy  Infected  Syb
359     ENST00000620890.1  39.956270  9.501554  NaN
1588    ENST00000389562.6   1.262435  0.000000  NaN
2152    ENST00000262888.8   2.166708  0.000000  NaN
3358    ENST00000405995.5  13.312860  0.000000  NaN
3359    ENST00000489593.1   0.986772  0.000000  NaN
...                   ...        ...       ...  ...
184213  ENST00000638574.1   1.088922  0.000000  NaN
185987  ENST00000442354.1   0.105203  0.000000  NaN
186576  ENST00000613254.1   0.135731  0.000000  NaN
186581  ENST00000613335.1   0.052601  0.000000  NaN
186683  ENST00000412399.1   0.045885  0.000000  NaN

[908 rows x 4 columns]

In [37]:
D=pd.read_csv("Ncounts2Syb.csv",index_col=None)

In [38]:
D.head()

           target_id   healthy  Infected        Syb
0  ENST00000390396.1  0.143410       0.0   TRBV23-1
1  ENST00000621184.1  0.332705       0.0   TRBV12-5
2  ENST00000390468.1  0.286819       0.0     TRAV41
3  ENST00000390424.2  0.188333       0.0      TRAV2
4  ENST00000390463.3  0.196011       0.0  TRAV36DV7

In [41]:
NaN=D[D["Syb"]=="NaN"]

In [44]:
#D=D[D['Syb'].notna()]
D.head()

           target_id   healthy  Infected        Syb
0  ENST00000390396.1  0.143410       0.0   TRBV23-1
1  ENST00000621184.1  0.332705       0.0   TRBV12-5
2  ENST00000390468.1  0.286819       0.0     TRAV41
3  ENST00000390424.2  0.188333       0.0      TRAV2
4  ENST00000390463.3  0.196011       0.0  TRAV36DV7

In [51]:
D=D[["healthy","Infected","Syb"]]

In [53]:
D.head()

    healthy  Infected        Syb
0  0.143410       0.0   TRBV23-1
1  0.332705       0.0   TRBV12-5
2  0.286819       0.0     TRAV41
3  0.188333       0.0      TRAV2
4  0.196011       0.0  TRAV36DV7

In [56]:
res=D.groupby("Syb").sum()

In [61]:
res.head()

            healthy    Infected
Syb
5S_rRNA    0.210406    0.000000
A1BG       6.707452    0.000000
A1CF       0.331742    0.000000
A2M      549.352198  119.184148
A2ML1      0.430229    0.000000

In [ ]:
#aca hay que hacer el ADR(me quedo con los TF que estan en una pero no en otra)
res_0=Nc[(res["healthy"]>10) | (res["Infected"]>10)]

In [72]:
tf=pd.read_csv("TF_list.txt",delimiter="\t",index_col=None,header=None)

In [78]:
#tf.rename(columns={0:"Syb"},inplace=True)
tf.head()

     Syb
0   ADNP
1  ADNP2
2  AEBP2
3    AHR
4   AHRR

In [79]:
tf_contect=res.merge(tf, how='inner', on='Syb')

In [83]:
tf_contect.head()

     Syb    healthy  Infected
0   ADNP  65.076682       0.0
1  ADNP2  52.411738       0.0
2  AEBP2  17.285226       0.0
3    AHR  31.285276       0.0
4   AHRR   3.914875       0.0

In [110]:
res.to_csv("Ncounts2Syb_res.csv",index=None)
res["Syb"]=res.index.values.tolist()
res.head()

            healthy    Infected      Syb
Syb
5S_rRNA    0.210406    0.000000  5S_rRNA
A1BG       6.707452    0.000000     A1BG
A1CF       0.331742    0.000000     A1CF
A2M      549.352198  119.184148      A2M
A2ML1      0.430229    0.000000    A2ML1

In [112]:
for i in range(0,5):
    if res["healthy"][i]>10:
        print(res["Syb"][i])
        #graph.run("MERGE(a:EXPERIMENT{code:$code,condition:$condition}) MATCH(b:TF{name:$tf} CREATE (a)-[:DEG]->(b) ",code="GSM4462413",condition="Healthy", tf=res["Syb"][i])
    else:
        print(i)

0
1
2
A2M
4